@charset "utf-8";
/* Assignment 1 | COMP1073 Client-Side JavaScript */

body {
  width: 850px;
  margin: auto;
  background-color: Green;
  padding: 20px;

}

header {
  transform-origin: center;
  text-decoration: underline;
  color: #fff;


}

main {
  display: flex;
  margin:  4px 2px 7px 2px;
  border: 3px solid #fff;

}

main section {
  width: 20%;
}

#speakButton{
  background-color: yellow;
}
